.single-comment{
    border: 5px;
    border-style: solid;
    border-color: black;
    border-radius: 25px;
    background-color: white;
    max-width: 70%;
    margin: auto;
    margin-bottom: 1em;
    padding: 2em;
}

.comment-form{
    
}